<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>John Romkey</string>
	<key>Builder Version</key>
	<string>8536.28.10</string>
	<key>CFBundleDisplayName</key>
	<string>godwinometer</string>
	<key>CFBundleIdentifier</key>
	<string>com.blueforestresearch.godwinometer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/jquery-1.9.1.min.js</string>
				<string>js/Browser.js</string>
				<string>js/godwinometer.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/godwinometer.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*/</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Godwin-O-Meter</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
	<key>Website</key>
	<string>http://romkey.com/godwinometer</string>
</dict>
</plist>
